.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.425);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(50px);
    color: antiquewhite;
}

.modalContent {
    position: relative;
    background-color: #664E4C;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    height: auto;
    box-shadow: 7px 16px 38px -5px #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
}

.addTaskButton {
    background-color: #F0E2A3;
    padding: 10px 20px;
    border-radius: 14px;
    border-width: 0px;
    cursor: pointer;
}

.errorDiv {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 4px;
    color: red;
}

.nameSection, .descriptionSection {
    width: 100%;
    margin-bottom: 16px;
}

.nameSection input, .descriptionSection textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.descriptionSection textarea {
    resize: none;
}

@media (min-width: 768px) {
    .modalContent {
        width: 60%;
    }
}

@media (min-width: 1024px) {
    .modalContent {
        width: 40%;
    }
}
